* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box {
    height: 100px;
    width: 250px;
    background-color: rgb(127, 191, 231);
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

button {
    margin: 10px 5px;
    padding: 5px 10px;
    border-radius: 5px;
}