* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 700px;
    padding: 30px;
    background-color: beige;
}

h1 {
    text-align: center;
}

.inputs {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 18px;
}